.ant-menu-horizontal {
  display: flex;
}

.ant-menu-item:nth-child(2),
.ant-menu-item:nth-child(3) {
  margin: 0;
}

@media (max-width: 500px) {
  .headerMenu {
    display: none;
  }
}

@media (min-width: 500px) {
  .menuIcon {
    display: none;
  }
}
